<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-xs-12">
      name
      <h1>{{Selected?.name}}</h1>
    </div>
    <div class="col-xs-6">
      photo
      <img src="{{Selected?.imageUrl}}" alt="" class="img-responsive" length="100px" width="100px">
    </div>

    <div class="row">
      <div class="pull-right pad-left-right">
        <a class="btn btn-danger" >Delete</a>
      </div>
      <div class="pull-right pad-left-right">
        <a class="btn btn-primary" >Edit</a>
      </div>

    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>Email: {{Selected?.email}}</p>
      </div>
      <div class="col-xs-12">
        <p>Phone: {{Selected?.phone}}</p>
      </div>
    </div>
    this is me
  </div>
</div>
